# Project exclude paths
/cloud-api-commons/target/
/cloud-config-client3355/target/
/cloud-config-client3366/target/
/cloud-config-servier3344/target/
/cloud-consumer-feign-hystrix-order80/target/
/cloud-consumer-feign-order80/target/
/cloud-consumer-order80/target/
/cloud-consumerzk-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-provider-feign-hystrix-payment8001/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-provider-payment8004/target/
/cloud-stream-rabbitmq-provider8801/target/
/cloudalibaba-config-nacos-client3377/target/
/cloudalibaba-consumer-nacos-order83/target/
/cloudalibaba-consumer-nacos-order84/target/
/cloudalibaba-provider-payment9001/target/
/cloudalibaba-provider-payment9002/target/
/cloudalibaba-provider-payment9003/target/
/cloudalibaba-provider-service9004/target/
/cloudalibaba-sentinel-service8401/target/
/cloudt-gateway-gateway9527/target/
/out/
/seata-order-service2001/target/
/seata-storage-service2002/target/
/seata-storage-service2003/target/