<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.springcloud.order.dao.OrderDao" >
    <insert id="create" parameterType="com.sam.springcloud.order.domain.Order">
        insert into order_tbl (id, user_id, commodity_code, count, money)
        values (null, #{userId}, #{commodityCode}, #{count}, #{money})
    </insert>
</mapper>